@model IEnumerable<ContactModel>
@{
    ViewData["Title"] = "Contact List";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!DOCTYPE html>
    <html>
    <head>
        <title>Products</title>
    </head>
    <body>
    <h3>List Contact </h3>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Description</th>
                <th scope="col">Map</th>
                <th scope="col">LogoImg</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@Html.Raw(@item.Description)</td>
                    <td>@Html.Raw(@item.Map)</td>
                    <td><img src="~/media/logo/@item.LogoImg" width="120" height="80" /></td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Contact" asp-route-Id="@item.Name">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* <partial name="_paging" model="@pager" /> *@
</body>

</html>