@model VnpayInfo

@{
    ViewData["Title"] = "Thông tin thanh toán Vnpay";
}

<h3>Thông tin thanh toán Vnpay</h3>

<a class="btn btn-primary" asp-action="Index" asp-controller="Order">Quay lại danh sách đơn hàng</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Mã giao dịch</th>
            <th>Nội dung thanh toán</th>
            <th>Mã đơn hàng</th>
            <th>Phương thức</th>
            <th>ID Thanh toán</th>
            <th>Ngày giao dịch</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TransactionId</td>
            <td>@Model.OrderDescription</td>
            <td>@Model.OrderId</td>
            <td>@Model.PaymentMethod</td>
            <td>@Model.PaymentId</td>
            <td>@Model.DateCreated.ToString("dd/MM/yyyy HH:mm:ss")</td>
        </tr>
    </tbody>
</table>
